{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Log in</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        {% if messages %}
            {% for message in messages %}
                <div id="error-message" class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <p class="login-box-msg">Sign in to start your session</p>

        <form method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="username" placeholder="Username" class="form-control" {% if locked %}disabled{% endif %}>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control" {% if locked %}disabled{% endif %}>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" {% if locked %}disabled{% endif %}>Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
  {% if locked %}
  <script>
  let remaining = { remaining };
  const messageBox = document.getElementById("error-message");

  let interval = setInterval(function() {
      remaining--;

      if (remaining > 0) {
          messageBox.innerHTML =
              "Too many failed attempts. Try again in " + remaining + " seconds.";
      } else {
          clearInterval(interval);

          // Redirect cleanly to login page
          window.location.href = "{% url 'login' %}";
      }

  }, 1000);
  </script>
  {% endif %}
</body>
</html>